@tailwind base;
@tailwind components;
@tailwind utilities;

  body {
    margin: 0px;
    padding: 0px;
  }

  html {
    margin: 0px;
    padding: 0px;
  }
  
  #header {
    background: linear-gradient(to right, #ffffff, #C9BFC0);
  }