@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

  body {
    margin: 0px;
    padding: 0px;
  }

  html {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
  }
  
  #header {
    background: linear-gradient(to right, #ffffff, #C9BFC0);
    font-family: 'Chakra Petch', sans-serif;
  }

  #prompt{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    color: white;
  }

  .texts{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 300;
    color: white;
  }
  
  
  input[type=radio] {
    display: none;
  }
  input[type=checkbox] {
    display: none;
  }
  
  .cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  #item-1-photo, #item-2-photo, #item-3-photo, #item-4-photo, #item-5-photo {
    opacity: 0;
  }

  #item-1-text, #item-2-text, #item-3-text, #item-4-text, #item-5-text {
    opacity: 0;
  }

  #item-1:checked ~ .cards #item-5-photo,
  #item-2:checked ~ .cards #item-4-photo,
  #item-3:checked ~ .cards #item-2-photo,
  #item-4:checked ~ .cards #item-1-photo,
  #item-5:checked ~ .cards #item-3-photo {
    transform: translatex(90%) scale(.5);
    opacity: .2;
    z-index: 2;
  }

  #item-1:checked ~ .cards #item-4-photo,
  #item-2:checked ~ .cards #item-3-photo,
  #item-3:checked ~ .cards #item-5-photo,
  #item-4:checked ~ .cards #item-2-photo,
  #item-5:checked ~ .cards #item-1-photo {
    transform: translatex(-90%) scale(.5);
    opacity: .2;
    z-index: 2;
  }
  
  #item-1:checked ~ .cards #item-3-photo,
  #item-2:checked ~ .cards #item-1-photo,
  #item-3:checked ~ .cards #item-4-photo,
  #item-4:checked ~ .cards #item-5-photo,
  #item-5:checked ~ .cards #item-2-photo {
    transform: translatex(-50%) scale(.8);
    opacity: .4;
    z-index: 4;
  }
  
  #item-1:checked ~ .cards #item-2-photo,
  #item-2:checked ~ .cards #item-5-photo,
  #item-3:checked ~ .cards #item-1-photo,
  #item-4:checked ~ .cards #item-3-photo,
  #item-5:checked ~ .cards #item-4-photo {
    transform: translatex(60%) scale(.8);
    opacity: .4;
    z-index: 4;
  }
  
  #item-1:checked ~ .cards #item-1-photo,
  #item-2:checked ~ .cards #item-2-photo,
  #item-3:checked ~ .cards #item-3-photo,
  #item-4:checked ~ .cards #item-4-photo,
  #item-5:checked ~ .cards #item-5-photo {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 6;
    filter: brightness(1.25);
  }


  #item-1:checked ~ #player #item-5-text,
  #item-2:checked ~ #player #item-4-text,
  #item-3:checked ~ #player #item-2-text,
  #item-4:checked ~ #player #item-1-text,
  #item-5:checked ~ #player #item-3-text {
    transform: translatex(-75%) scale(.5);
    opacity: .2;
  }


  #item-1:checked ~ #player #item-4-text,
  #item-2:checked ~ #player #item-3-text,
  #item-3:checked ~ #player #item-5-text,
  #item-4:checked ~ #player #item-2-text,
  #item-5:checked ~ #player #item-1-text {
    transform: translatex(-325%) scale(.5);
    opacity: .2;
  }

  #item-1:checked ~ #player #item-3-text,
  #item-2:checked ~ #player #item-1-text,
  #item-3:checked ~ #player #item-4-text,
  #item-4:checked ~ #player #item-5-text,
  #item-5:checked ~ #player #item-2-text {
    transform: translatex(-275%) scale(.8);
    opacity: .4;
    z-index: 0;
  }
  
  #item-1:checked ~ #player #item-2-text,
  #item-2:checked ~ #player #item-5-text,
  #item-3:checked ~ #player #item-1-text,
  #item-4:checked ~ #player #item-3-text,
  #item-5:checked ~ #player #item-4-text {
    transform: translatex(-125%) scale(.8);
    opacity: .4;
    z-index: 0;
  }
  
  #item-1:checked ~ #player #item-1-text,
  #item-2:checked ~ #player #item-2-text,
  #item-3:checked ~ #player #item-3-text,
  #item-4:checked ~ #player #item-4-text,
  #item-5:checked ~ #player #item-5-text{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding-left: 10px;
    opacity: 1;
    z-index: 1;
  }
  


  

